<a href="https://colab.research.google.com/github/Zagidin/PythonDev/blob/main/%D0%A2%D0%B5%D0%BC%D0%B0_5_%7C_%D0%9F%D1%80%D0%B5%D0%BE%D0%B1%D1%80%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D1%82%D0%B8%D0%BF%D0%BE%D0%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Преобразования типов**. Встроенные функции

Попробуйте решить несколько простых задач с использованием типов коллекций.

Задача №1:

>Выявите количество уникальных имен в списке `names_list`.

Для решения этой задачи необходимо взять список имен и обернуть его в функцию `set`, которая преобразует любую структуру в множество.

Тогда это множество будет содержать только уникальные имена. Останется только узнать его размер функцией `len`.

In [ ]:
names_list = ['Катя', 'Катя', 'Кира', 'Марк', 'Катя', 'Света', 'Максим', 'Света']
print('Количество имен в списке:', len(names_list))
names_set = set(names_list)
print('Множество имен:', names_set, type(names_set))
print('Количество уникальных имен во множестве:',len(names_set))
uniq_names = list(names_set)
print(uniq_names, f"\t{type(uniq_names)}")

Количество имен в списке: 8
Множество имен: {'Максим', 'Кира', 'Марк', 'Катя', 'Света'} <class 'set'>
Количество уникальных имен во множестве: 5
['Максим', 'Кира', 'Марк', 'Катя', 'Света'] 	<class 'list'>

Задача №2:

>Защитите список и множество имен от возможных изменений, используя преобразование типов.

Для решения этой задачи достаточно вспомнить, что в Python есть структуры данных, которые не поддаются изменениям — кортежи.

Остается только преобразовать ваш список в множество или в кортеж.

In [ ]:
names_list

['Катя', 'Катя', 'Кира', 'Марк', 'Катя', 'Света', 'Максим', 'Света']

In [ ]:
# Первый вариант решения – кортеж
list_to_tuple = tuple(names_list)

print(list_to_tuple)

('Катя', 'Катя', 'Кира', 'Марк', 'Катя', 'Света', 'Максим', 'Света')

In [ ]:
# Попытка изменить кортеж
list_to_tuple[0] = 'Борис'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Второй вариант решения – множество
list_to_set = set(names_list)
print(list_to_set)

{'Максим', 'Кира', 'Марк', 'Катя', 'Света'}

In [ ]:
# Попытка изменить множество
list_to_set[1] = 'Виктор'

TypeError: 'set' object does not support item assignment

Задача №3:

>Преобразуйте строковые данные в список.

Чтобы преобразовать строку в список, воспользуйтесь функцией `list`:

In [ ]:
# Преобразуйте строковые данные в список:
string = 'список'
print(string)

список

In [ ]:
str_to_list = list(string)
print(str_to_list)

['с', 'п', 'и', 'с', 'о', 'к']

In [ ]:
print('Первый элемент списка:', str_to_list[0])
print('Первый элемент строки:', string[0])

Первый элемент списка: с
Первый элемент строки: с

In [ ]:
print('Срез от 4-го элемента списка до конца:', str_to_list[3:])
print('Срез от 4-го элемента строки до конца:', string[3:])

Срез от 4-го элемента списка до конца: ['с', 'о', 'к']
Срез от 4-го элемента строки до конца: сок

## Материалы

1. **Пол Берри «Изучаем программирование на Python»**. Хорошая книга по Python для новичков, которая на доступном и игровом языке поможет понять основные вещи:
https://drive.google.com/open?id=1-wzGnovWmB9wDafH20eBPqgNzmPZlIP0

2. **Byte of Python («Укус Питона»)**. Для тех, кому понимание дается проще. Более компактная, но сильная книга: https://drive.google.com/open?id=1a3G3HBW_qQK8OPSSg7pni1LlQD-pzOkW

3. **«Python. К вершинам мастерства»**. Для продвинутых программистов. Русскоязычная версия оригинальной книги Fluent Python: https://drive.google.com/file/d/1lz7aK6CXdFtEVSzoTdoJ01Uxsq1TAjZw/view?usp=sharing

4. **Адитья Бхаргава «Грокаем алгоритмы»**. Небольшая книга, признанная многими программистами. В ней на доступном языке объяснены алгоритмы программирования:
https://drive.google.com/open?id=1pr3q0geXJsrFz2p4E8CYowYKPbuKC5_M.