<a href="https://colab.research.google.com/github/Zagidin/PythonDev/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D1%87%D0%BD%D0%B8%D0%BA_%7C_%D0%91%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5_%D1%82%D0%B8%D0%BF%D1%8B_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Рассмотрим несколько задач по пройденной теме.

Постарайтесь самостоятельно решить задачу и только после этого сравнить свое решение с представленным вариантом решения.

## Задача 1

Сравните строку 'python', написанную через английскую букву 'p', и ту же самую строку 'python', но через русскую букву 'р'.

In [ ]:
# Ваш код

### Решение

In [ ]:
eng = 'python'
rus = 'рython'
eng == rus

False

## Задача 2

Вычислите объем шара с радиусом 3 и округлите результат до 3 знаков после запятой (V=4/3πr**3)

In [ ]:
# Ваш код

### Решение

In [ ]:
r = 3
pi = 3.142
V = 4/3 * pi * r**3
print(f'Объем шара = {V:.3f}')

Объем шара = 113.112

## Задача 3

С помощью операторов or, and, ==, <, значений True, 10, 1, 'строка' и скобок составьте логическое выражение, которое будет давать True. Придумайте конструкцию, которая всегда будет давать в результате True.

In [ ]:
# Ваш код

### Решение

In [ ]:
(10 < 1 and 'строка' == 1) or True

True

## Задача 4

Напишите программу, которая
а) принимает значения трех сторон треугольника, б) проверяет, прямоугольный ли он, в) выдает ответ в виде: Является ли треугольник со сторонами 3,4,5 прямоугольным? Ответ: True

In [ ]:
# Ваш код

### Решение

In [ ]:
a = int(input('Введите длину 1 стороны треугольника: '))
b = int(input('Введите длину 2 стороны треугольника: '))
c = int(input('Введите длину 3 стороны треугольника: '))
proverka = a**2 + b**2 == c**2 or a**2 + c**2 == b**2 or b**2 + c**2 == a**2
print(f'Является ли треугольник со сторонами {a},{b},{c} прямоугольным? Ответ:', proverka)

Введите длину 1 стороны треугольника: 3
Введите длину 2 стороны треугольника: 4
Введите длину 3 стороны треугольника: 5
Является ли треугольник со сторонами 3,4,5 прямоугольным? Ответ: True

## Задача 5

Присвойте переменным значения: 0, любое другое число, любая строка, пустая строка (''), пробел (' '). Выведите результат преобразования данных значений в логический тип (bool). Формат вывода:
```
0 - False,    1 - True,
строка - True,  '' - False,   ' ' - True

```
Между записями в одной строке должен быть промежуток равный табуляции, допускается использовать print() только 1 раз.

In [ ]:
# Ваш код

### Решение

In [ ]:
a = 0
b = 1
c = 'строка'
d = ''
e = ' '
print(f'{a} - {bool(a)},\t{b} - {bool(b)},\n{c} - {bool(c)},\t\'\' - {bool(d)},\t\' \' - {bool(e)}')

0 - False,	1 - True,
строка - True,	'' - False,	' ' - True

## Задача 6

Преобразуйте числа 2.1 и 2.9 к типу int. Сделайте наглядный вывод результатов по своему усмотрению

In [ ]:
# Ваше решение

### Решение

In [ ]:
a = 2.1
b = 2.9
print(f'{a} -> {int(a)}')
print(f'{b} -> {int(b)}')

2.1 -> 2
2.9 -> 2

## Задача 7

Запишите в переменные два любых числа, затем преобразуйте их в формат str. Найдите их суммы с помощью оператора + до и после преобразования. Сделайте наглядный вывод результатов по своему усмотрению

In [ ]:
# Ваше решение

### Решение

In [ ]:
# Задаем два числа
a = 10
b = 5

# Преобразуем числа в строковый формат
str_a = str(a)
str_b = str(b)

# Находим их суммы
sum_ab = a + b
sum_ab_str = str_a + str_b

# Выводим результаты
print(f"Сумма чисел {a} и {b}: {sum_ab}")
print(f"Сумма чисел {a} и {b} в строковом формате: {sum_ab_str}")

Сумма чисел 10 и 5: 15
Сумма чисел 10 и 5 в строковом формате: 105

## Задача 8

Попробуйте выполнить операцию умножения со строковыми переменными из предыдущего задания.

In [ ]:
# Ваше решение

### Решение

In [ ]:
# Выводим результаты
print(f"Произведение чисел {a} и {b} в строковом формате: {str_a * str_b}")

TypeError: can't multiply sequence by non-int of type 'str'

## Задача 9

Задайте 3 слова. Осуществите вывод этих слов в одну строку, чтобы они были разделены символом @, пробелов быть не должно. Реализуйте это тремя способами (изучие параметры функции print)

In [ ]:
# Ваше решение

### Решение

In [ ]:
string1 = input('Введите первое слово: ')
string2 = input('Введите второе слово: ')
string3 = input('Введите третье слово: ')

# Задаем разделитель
sep = '@'

# 1 способ
print(string1,string2,string3, sep=sep)

# 2 способ
print(f'{string1}{sep}{string2}{sep}{string3}')

# 3 способ
print(string1, end=sep)
print(string2, end=sep)
print(string3)

Введите первое слово: первый
Введите второе слово: второй
Введите третье слово: третий
первый@второй@третий
первый@второй@третий
первый@второй@третий

## Задача 10

Введите любое трехзначное число. Осуществите вывод числа с обратным порядком цифр. Например, 123 -> 321.

In [ ]:
# Ваше решение

### Решение

In [ ]:
number = int(input('Введите любое трехзначное число:'))

# Выделяем сотни, десятки, единицы
h = number // 100
d = number % 100 // 10
u = number % 10

# Записываем число с цифрами в обратном порядке
print(f'Запись числа в обратном порядке:{u}{d}{h}')

Введите любое трехзначное число:123
Запись числа в обратном порядке:321