<a href="https://colab.research.google.com/github/Zagidin/PythonDev/blob/main/%D0%A2%D0%B5%D0%BC%D0%B0_1_%7C_%D0%A1%D0%BF%D0%B8%D1%81%D0%BA%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Сегодня вы изучите тему, которую можно назвать фундаментом всего обучения. Для лучшего понимания вы примените уже пройденные конструкции и приемы. Структуры данных — практически бездонный раздел. В этом уроке вы изучите основы, а оставшиеся детали и методы примените на практике при дальнейшем обучении.

Рассмотрите четыре структуры данных в Python:
 - списки;
 - кортежи;
 - словари;
 - множества.

**Структуры данных** – структуры, которые могут хранить некоторые данные вместе. То есть их используют для хранения связанных данных. В Python существуют четыре встроенных структуры данных: список, кортеж, словарь и множество.

## **Списки (`list`)**

**Списки** (`list`) — структура данных, которую чаще всего используют.

Список хранит упорядоченный набор (последовательность) элементов различных типов. Краткая сводка:

1. Доступ к элементам осуществляют по индексам.
2. Список заключают в квадратные `[]` скобки.
3. Элементы в списке идут через запятую.

Список — это  **изменяемый**  тип данных, т.е в него можно добавлять, вставлять элементы. В нем же можно их удалять и заменять. У каждого элемента в списке есть свой порядковый номер — индекс. По этому индексу и обращаются к элементам в списках.

Ниже представлены два варианта создания пустого списка. Пустые списки создают для того, чтобы впоследствии заполнять их нужными элементами.

In [ ]:
# Создание пустого списка. Вариант 1
empty_list = []
# Создание пустого списка. Вариант 2
empty_list2 = list()

In [ ]:
print(empty_list, '  ', type(empty_list))
print(empty_list2, '  ', type(empty_list2))

[]    <class 'list'>
[]    <class 'list'>

Чтобы создать непустой список, поместите объекты в квадратные скобки через запятую:

In [ ]:
# Создаем список с элементами разного типа
my_list = [1, 3.5, 'котик', -123]
print(my_list, '  ', type(my_list))

[1, 3.5, 'котик', -123]    <class 'list'>

Примечательно, что в список можно помещать элементы любых типов данных. Например, можно поместить в список еще один список:

In [ ]:
# Создание второго списка, внутри которого находится вложенный список
my_list2 = [0, False, [1, 'str']]
print(my_list2, type(my_list2))

[0, False, [1, 'str']] <class 'list'>

Что делать с только что созданными списками? Для начала сложите их вместе: эта операция просто «склеит» перечисленные списки один за другим, конкатенирует их. Ранее вы уже сталкивались с этой операцией, когда складывали строки.

In [ ]:
print(my_list)
print(my_list2)

[1, 3.5, 'котик', -123]
[0, False, [1, 'str']]

In [ ]:
# Конкатенация списков
sum_list = my_list + my_list2
print(sum_list)

[1, 3.5, 'котик', -123, 0, False, [1, 'str']]

Еще вы можете умножить список на целое число. Это приведет к тому, что элементы списка повторятся столько раз, сколько указано в множителе (опять же, аналогично строкам). То есть список приклеится сам к себе столько раз, на сколько вы умножили:

In [ ]:
# Списки можно умножить на целое число

multi_list = my_list * 3  # произведение списка и числа
print(multi_list)

[1, 3.5, 'котик', -123, 1, 3.5, 'котик', -123, 1, 3.5, 'котик', -123]

Однако у вас не получится умножить один список на другой:

In [ ]:
multi_list = my_list * my_list2  # но список на список умножить нельзя!

TypeError: can't multiply sequence by non-int of type 'list'

Элементы списка можно перебрать циклом, то есть итеративно пройтись по списку циклом `for`. Похожее вы уже делали со строками, когда изучали, что цикл `for` отлично работает с последовательностями:

In [ ]:
sum_list

[1, 3.5, 'котик', -123, 0, False, [1, 'str']]

In [ ]:
# Пройдитесь циклом по списку

for element in sum_list:
  print(element, '\t', type(element))

1 	 <class 'int'>
3.5 	 <class 'float'>
котик 	 <class 'str'>
-123 	 <class 'int'>
0 	 <class 'int'>
False 	 <class 'bool'>
[1, 'str'] 	 <class 'list'>

**Функция `len()`**

При работе с коллекциями данных часто необходимо узнать длину этой коллекции, то есть узнать число элементов. Для этого в Python есть специальная встроенная функция:

>`len()` выдает длину коллекции данных, т.е. количество элементов, хранящихся в ней.

Вы можете вызвать ее как обычную функцию и передать внутри скобок коллекцию, длину которой вам необходимо узнать:

In [ ]:
# Узнать длину пустого списка
len([])

0

Теперь подайте список, внутри которого есть элементы:

In [ ]:
# Узнать длину списка с некоторым числом элементов
lst_1= [1, 2, 3, 4, 5, '6', 7.0, 'восемь']
len(lst_1)

8

Также вы можете передать в функцию заранее подготовленный список, сохраненный в переменной:

In [ ]:
print(my_list)
print('Количество элементов в списке:', len(my_list))

[1, 3.5, 'котик', -123]
Количество элементов в списке: 4

In [ ]:
%who

element	 empty_list	 empty_list2	 lst_1	 multi_list	 my_list	 my_list2	 sum_list

Вы можете создать переменную строкового типа, и в отдельных случаях она будет себя вести как коллекция данных, хоть и является базовым типом данных:

In [ ]:
# Создание строки
text = 'Привет, Мир!'

In [ ]:
# Вывод типа и содержание переменной
print(text, type(text))

Привет, Мир! <class 'str'>

In [ ]:
# Запрос размера строки
print('Количество элементов в строке:', len(text))

Количество элементов в строке: 12

Обратите внимание: в функцию `len` можно передавать только один объект. Функция не обрабатывает несколько объектов, поданных через запятую:

In [ ]:
len((1, 3, 'hi'))

3

В последовательностях, в частности и в списках, элементы не просто собраны в бесструктурную кучу. Они пронумерованы (проиндексированы), и каждый элемент имеет свой номер или индекс. В программировании индексация всегда начинается с 0, поэтому первый элемент в последовательности имеет индекс 0, второй — 1, третий — 2 и так далее.

Также вы можете обращаться к элементам последовательности посредством отрицательных индексов. Чаще всего это используют в тех случаях, когда необходимо обратиться к элементам где-то в конце коллекции. Либо когда известно, что нужная информация находится в определенной позиции с конца, а размер всего списка варьируется. Соответственно, проще найти нужный элемент, ориентируясь на конец списка.

Это работает следующим образом. Последнему элементу в списке соответствует индекс `-1`. Предпоследнему — `-2` и так далее.

**Индексация**

![списки.png]()

Вы можете обращаться к элементам списка посредством положительных индексов:

In [ ]:
my_list

[1, 3.5, 'котик', -123]

In [ ]:
# Последовательный вывод элементов списка с начала

print('Наш список:', my_list)
print('Доступ к первому элементу:\t', my_list[0])
print('Доступ ко второму элементу:\t', my_list[1])
print('Доступ к третьему элементу:\t', my_list[2])
print('Доступ к четвертому элементу:\t', my_list[3])

Наш список: [1, 3.5, 'котик', -123]
Доступ к первому элементу:	 1
Доступ ко второму элементу:	 3.5
Доступ к третьему элементу:	 котик
Доступ к четвертому элементу:	 -123

Или посредством отрицательных индексов:

In [ ]:
# Последовательный вывод элементов списка с конца
print('Наш список:', my_list)
print('Доступ к первому элементу с конца:\t', my_list[-1])
print('Доступ ко второму элементу с конца:\t', my_list[-2])
print('Доступ к третьему элементу с конца:\t', my_list[-3])
print('Доступ к четвертому элементу с конца:\t', my_list[-4])

Наш список: [1, 3.5, 'котик', -123]
Доступ к первому элементу с конца:	 -123
Доступ ко второму элементу с конца:	 котик
Доступ к третьему элементу с конца:	 3.5
Доступ к четвертому элементу с конца:	 1

Как вы могли заметить, отрицательная индексация начинается не с `-0`, а с `-1`.

Еще одна интересная особенность. Если внутри списка содержится еще одна коллекция, то вы также можете обращаться к ее элементам с помощью индексов:

In [ ]:
# Доступ к элементам вложенного списка

print(sum_list)
print(len(sum_list))
last_elem = len(sum_list) -1
sum_list[last_elem][1]

[1, 3.5, 'котик', -123, 0, False, [1, 'str']]
7

'str'

In [ ]:
sum_list[-1][-2]

1

**Срезы данных в последовательностях**

Вы можете не только выбирать какие-либо одиночные элементы из списков, но и целые группы элементов с помощью срезов. Для этого вам нужно указать индексы в квадратных скобках. Только не один, а два, поскольку они указывают на промежуток списка, элементы которого вы хотите выбрать без включения правой границы. Если же вы не укажите одну из границ среза, то Python посчитает этой границей тот или иной конец списка:

In [ ]:
lst_exp = [i for i in range(5000)]
result = lst_exp[0:5] + lst_exp[-5:]
result

[0, 1, 2, 3, 4, 4995, 4996, 4997, 4998, 4999]

In [ ]:
lst = [1, 3.5, 'котик', -123, 0, False, [1, 'str']]
lst[-1].append(True)
lst

[1, 3.5, 'котик', -123, 0, False, [1, 'str', True]]

In [ ]:
print('Ваш список:', sum_list, '\n')
print('Срез данных с первыми тремя элементами:', sum_list[0:3])
print('Срез данных от второго до пятого элемента (вкл):', sum_list[1:5])
print('Срез данных от третьего до последнего элемента (вкл):', sum_list[2:])
print('Срез данных от первого до третьего элемента (вкл):', sum_list[:3])
print('Срез данных от первого до третьего элемента (вкл):', sum_list[::-1])

Ваш список: [1, 3.5, 'котик', -123, 0, False, [1, 'str']]

Срез данных с первыми тремя элементами: [1, 3.5, 'котик']
Срез данных от второго до пятого элемента (вкл): [3.5, 'котик', -123, 0]
Срез данных от третьего до последнего элемента (вкл): ['котик', -123, 0, False, [1, 'str']]
Срез данных от первого до третьего элемента (вкл): [1, 3.5, 'котик']
Срез данных от первого до третьего элемента (вкл): [[1, 'str'], False, 0, -123, 'котик', 3.5, 1]

Еще пример. Если у вас есть список длиной 60000 элементов. Необходимо поделить его на 3 части.

Делим его на три части с помощью срезов:
- от 0 до 48000, обозначается `[:48000]`
- от 48000 до 54000, обозначается `[48000:54000]`
- от 54000 до конца, обозначается `[54000:]`


---

С помощью доступа по индексам можно менять элементы списка. Чтобы манипулировать элементами списка, обратитесь к нужному элементу по индексу и перезапишите его с помощью оператора присваивания `=`.

In [ ]:
# Замена котика из списка на другого котика
print('Изначальный список:', sum_list)

Изначальный список: [1, 3.5, 'котик', -123, 0, False, [1, 'str']]

In [ ]:
print('Изначальный элемент по индексу 2:', sum_list[2])

Изначальный элемент по индексу 2: котик

In [ ]:
# Замена по индексу. Название_списка[номер индекса элемента] = новый_объект
sum_list[2] = 'другой котик'

In [ ]:
print('Новый список:', sum_list)

Новый список: [1, 3.5, 'другой котик', -123, 0, False, [1, 'str']]

Теперь пример поинтересней: создайте простой список чисел, выведите его на экран.

Создайте цикл `for`, но немного в другой конструкции. Создайте диапазон чисел с помощью функции `range`, но длину этого диапазона укажите не числом, а длиной списка — `numbers_list`. Так цикл запустит пять итераций и переменная `i` примет значения от 0 до 4. С помощью нее вы можете обращаться к элементам списка, используя ее как индекс.

Попробуйте увеличить каждый элемент списка на пять:

In [ ]:
# Изменение элементов списка с помощью цикла

numbers_list = [5, 6, 7, 8, 9, "str"]
print('Было: ', numbers_list)

for i in range(len(numbers_list)):
  if isinstance(numbers_list[i], str):
    numbers_list.pop(i)

print('Стало:', numbers_list)

Было:  [5, 6, 7, 8, 9, 'str']
Стало: [5, 6, 7, 8, 9]

In [ ]:
list(range(len(numbers_list)))

[0, 1, 2, 3, 4]

Вы можете спросить, зачем использовать функции `len` и `range`, если можно сделать проще:

`for number in numbers_list:`?

Но если вы увеличите переменную `number`, это никак не повлияет на элементы списка.

In [ ]:
# Такой вариант только для чтения! Изменить список не получится

numbers_list = [5, 6, 7, 8, 9]
print('Было: ', numbers_list)

for number in numbers_list:
  number += 5
  print(number, end="; ")
print()

print('Стало:', numbers_list)

Было:  [5, 6, 7, 8, 9]
10; 11; 12; 13; 14;
Стало: [5, 6, 7, 8, 9]

### **Методы списков**

In [ ]:
lst_1 = [1, 3, 2, 3]
lst_2 = [4, 5, 6]

lst_1[2] = 17
rmv = lst_1.pop(2)
print(lst_1.count(3))
print(rmv)

2
17


* `list.append(x)`	Добавляет элемент в конец списка
* `list.extend(L)`	Расширяет список `list`, добавляя в конец все элементы списка `L`
* `list.insert(i, x)`	Вставляет на `i`-ый элемент значение `x`
* `list.remove(x)`	Удаляет первый элемент в списке, имеющий значение `x`. ValueError, если такого элемента не существует
* `list.pop([i])`	Удаляет `i`-ый элемент и возвращает его. Если индекс не указан, удаляется последний элемент
* `list.index(x, [start [, end]])`	Возвращает положение первого элемента со значением `x` (при этом поиск ведется от `start` до `end`)
* `list.count(x)`	Возвращает количество элементов со значением `x`
* `list.sort([key=функция])`	Сортирует список на основе функции
* `list.reverse()`	Разворачивает список
* `list.copy()`	Копия списка
* `list.clear()`	Очищает список

Создайте переменную, которая содержит список продуктов.

Когда вы создаете новую переменную, в пространстве Python появляется новый объект с данными. И каждый такой объект принадлежит тому или иному типу или структуре данных:

In [ ]:
# Создание объекта класса list
shop_list = ['хлеб', 'каша', 'молоко', 'мясо', 'макороны', 'творог', 'торт', 'фрукты']
print(shop_list)

['хлеб', 'каша', 'молоко', 'мясо', 'макороны', 'творог', 'торт', 'фрукты']

Один из самых популярных методов для списков — `append`. Он добавляет в конец списка еще один элемент:

In [ ]:
# Добавьте в список новую покупку с помощью метода списков .append()
shop_list.append('ягоды')
print(shop_list)

['хлеб', 'каша', 'молоко', 'мясо', 'макороны', 'творог', 'торт', 'фрукты', 'ягоды']

Часто метод `append` используют для заполнения пустого списка различными значениями.

Найдём элемент `'каша'` и удалим его.
* `list.index(x, [start [, end]])`	Возвращает положение первого элемента со значением `x` (при этом поиск ведется от `start` до `end`)
* `list.pop([i])`	Удаляет `i`-ый элемент и возвращает его.

In [ ]:
# Поиск индекса элемента 'каша'
ind = shop_list.index('каша')
ind

1

In [ ]:
# Удаляем элемент по индексу ind
shop_list.pop(ind)
print(shop_list)

['хлеб', 'мясо', 'макороны', 'творог', 'торт', 'фрукты', 'ягоды']

 Удалить элемент с заданным значением можно одной функцией:
 * `list.remove(x)`	Удаляет первый элемент в списке, имеющий значение `x`. Если такого элемента не существует, то выдаст ошибку `ValueError`.

In [ ]:
# Удаляем элемент со значением 'макороны'
if 'макороны' in shop_list:
    shop_list.remove('макороны')
print(shop_list)

['хлеб', 'мясо', 'творог', 'торт', 'фрукты', 'ягоды']



Решите задачу:

>Получите список натуральных чисел до 10 включительно, используя `for` и метод списка `append`.

Создайте пустой список, который скоро заполните натуральными числами. Далее пройдитесь циклом `for` по списку чисел. При условии, что текущее число положительное, добавьте его в список `integers`.

In [ ]:
# Создание пустого списка
integers = []

# Использование цикла for и range для генерации чисел от 1 до 10 (вкл)
for i in range(1, 11):

  # Каждое число от 1 до 10 добавляется список
  integers.append(i)

print(integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Еще одна задача:

>Есть список чисел. Получите список с этими же данными, но числа в нем должны быть только положительными.

Создайте пустой список, который скоро заполните положительными числами. Пройдитесь циклом `for` по списку чисел. При условии, что текущее число положительное, добавьте его в список `positive_numbers`.

In [ ]:
# Создание списка с вещественными числами
numbers_list = [17, 1, -3, 2.5, -134, 94.3, -35]

# Создание пустого списка для заполнения положительными числами
pos_nums = []

# Пробегание в цикле по всем числам списка
for number in numbers_list:

  # Если число положительное...
  if number > 0:

    # .. то оно добавляется в список положительных чисел
    positive_numbers.append(number)

print(positive_numbers)

[17, 1, 2.5, 94.3]

Списки нередко приходится сортировать, то есть располагать их элементы в определенном порядке. Для этого есть специальная функция `sorted`:

In [ ]:
print('Список до сортировки:', positive_numbers)

Список до сортировки: [17, 1, 2.5, 94.3]

In [ ]:
positive_numbers.sort()

In [ ]:
print('Список до сортировки:', positive_numbers)

Список до сортировки: [1, 2.5, 17, 94.3]

In [ ]:
# Создание копии, сортировка и сохранение результата в новую переменную
sorted_list = sorted(positive_numbers)

In [ ]:
print('Список после сортировки:', sorted_list)

Список после сортировки: [1, 2.5, 17, 94.3]

Оригинальный список при этом не сортируется:

In [ ]:
# оригинальный (несортированный) список
positive_numbers

[1, 2.5, 17, 94.3]

Сортируется только его копия и сохраняется в новую переменную `sorted_list`.

Для сортировки оригинального списка используйте метод списка `.sort()`:

In [ ]:
# Сортировка оригинального списка по убыванию
positive_numbers.sort(reverse=True)

positive_numbers

[94.3, 17, 2.5, 1]

In [ ]:
# Сортировка оригинального списка по возрастанию
positive_numbers.sort()

positive_numbers

[1, 2.5, 17, 94.3]

Более практичный пример:

In [ ]:
# Создаём новый список
alpha_nums = ['три','один','два','четыре','пять']
alpha_nums.sort(key=len)
alpha_nums

['три', 'два', 'один', 'пять', 'четыре']

**<h1>Дополнительная информация**

**<h2>Запаковка/распаковка и вхождение**

In [ ]:
lst = [1, 3.5, 'котик', -123, 0, False, [1, 'str']]

if [1, 'str'] in lst:
    lst.remove([1, 'str'])

print(lst)

if 'котик' in lst:
    lst.remove('котик')

print(lst)

[1, 3.5, 'котик', -123, 0, False]
[1, 3.5, -123, 0, False]

In [ ]:
a, b, *c = [1, 3.5, -123, 0, False]
print(a, b, c, sep="\n")

1
3.5
[-123, 0, False]

In [ ]:
z, *_ = c
z

-123

In [ ]:
lst_1 = [1, 3.5, -123, 0, False]
print(*lst_1, sep=", ")

1, 3.5, -123, 0, False

**<h2>List comprehension *(en-ru - Понимание списка)***

быстрое создание списков

Вариант 1 - Простая генерация:

In [ ]:
lst = []

for i in range(0, 11):
    lst.append(i)

lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lst = [i for i in range(0, 11)]
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lst = [i.lower() for i in 'Привет']
lst

['п', 'р', 'и', 'в', 'е', 'т']

Вариант 2 - Генерация с условием

In [ ]:
lst = []

for i in range(0, 11):
    if i % 2 == 0:
        lst.append(i)

lst

[0, 2, 4, 6, 8, 10]

In [ ]:
lst = [i for i in range(0, 11) if i % 2 == 0]
lst

[0, 2, 4, 6, 8, 10]

In [ ]:
lst = []

for i in range(0, 11):
    temp = 1 if i%2 == 0 else 0
    lst.append(temp)

lst

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [ ]:
arr = [i for i in range(0, 11)]
lst = [1 if i%2 == 0 else 0 for i in range(0, 11)]
print(f"{arr}\n{lst}")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

Вариант 3 - Генератор с циклом

In [ ]:
lst = []

for i in range(1, 5):
    for j in range(2, 8):
        lst.append(i * j)

print(*lst)

2 3 4 5 6 7 4 6 8 10 12 14 6 9 12 15 18 21 8 12 16 20 24 28

In [ ]:
lst = [i * j for i in range(1, 5) for j in range(2, 8)]
print(*lst)

2 3 4 5 6 7 4 6 8 10 12 14 6 9 12 15 18 21 8 12 16 20 24 28

In [ ]:
# Напишем тоже самое в развернутом виде
lst = []

for i in range(1, 4):
    for j in range(1, 4):
        lst.append(i * j)

print(lst)

[1, 2, 3, 2, 4, 6, 3, 6, 9]

Вариант 4 - Генерация вложенных списков

In [ ]:
lst = [ [i * j for i in range(0, 4)] for j in range(0, 4)]
print(lst)
print()
print(*lst, sep="\n")

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6], [0, 3, 6, 9]]

[0, 0, 0, 0]
[0, 1, 2, 3]
[0, 2, 4, 6]
[0, 3, 6, 9]

In [ ]:
# Напишем тоже самое в развернутом виде
lst = []

for i in range(0, 4):
    temp = []
    for j in range(0, 4):
        temp.append(i * j)
    lst.append(temp)

print(lst)
print()
print(*lst, sep="\n")

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6], [0, 3, 6, 9]]

[0, 0, 0, 0]
[0, 1, 2, 3]
[0, 2, 4, 6]
[0, 3, 6, 9]

In [ ]:
original = [1,2,3,4,5]
result = []
start = -1
stop = len(original) * (-1) - 1
step = -1
for i in range(start, stop, step):
    result.append(original[i])
print(result)

[5, 4, 3, 2, 1]